@tailwind base;
@tailwind components;
@tailwind utilities;

/* Home.module.css */
.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #c9359c;
}

/* Navbar section styling */
.navbar-section {
  background-color: #10eb35;
  padding: 10px 0;
}

/* Body section styling */
.body-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.greeting {
  font-size: 2.5rem;
  color: #2517e9;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

/* Footer section styling */
.footer-section {
  background-color: #b7e70b;
  padding: 20px 0;
  color: white;
  text-align: center;
}


